.container {
    width: 100%;
    margin: 100px auto;
}

.form-control {
    background: linear-gradient(90deg, rgba(95,35,219,1) 16%, rgb(71, 33, 178) 69%, rgb(53, 25, 138) 99%, rgb(23, 108, 125) 226%);
}